<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <ResourceId>/subscriptions/b94db080-333f-4b6d-9e6b-09efa76eba42/resourceGroups/UPrincev4/providers/Microsoft.Web/sites/UPrinceV4APIDev</ResourceId>
        <ResourceGroup>UPrincev4</ResourceGroup>
        <PublishProvider>AzureWebSite</PublishProvider>
        <SiteUrlToLaunchAfterPublish>http://uprincev4apidev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
        <MSDeployServiceURL>uprincev4apidev.scm.azurewebsites.net:443</MSDeployServiceURL>
        <DeployIisAppPath>UPrinceV4APIDev</DeployIisAppPath>
        <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <UserName>$UPrinceV4APIDev</UserName>
        <_SavePWD>True</_SavePWD>
    </PropertyGroup>
</Project>