<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <ResourceId>/subscriptions/b94db080-333f-4b6d-9e6b-09efa76eba42/resourcegroups/UPrincev4/providers/Microsoft.Web/sites/UPrinceV4APIStaging</ResourceId>
        <ResourceGroup>UPrincev4</ResourceGroup>
        <PublishProvider>AzureWebSite</PublishProvider>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>https://uprincev4apistaging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <ProjectGuid>af6b2c2a-a586-4987-850d-d34d9c447531</ProjectGuid>
        <MSDeployServiceURL>uprincev4apistaging.scm.azurewebsites.net:443</MSDeployServiceURL>
        <DeployIisAppPath>UPrinceV4APIStaging</DeployIisAppPath>
        <RemoteSitePhysicalPath/>
        <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <UserName>$UPrinceV4APIStaging</UserName>
        <_SavePWD>True</_SavePWD>
        <_DestinationType>AzureWebSite</_DestinationType>
        <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    </PropertyGroup>
</Project>